language: ruby
cache: bundler
rvm:
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - 3.0
script:
  - bundle install --path vendor/bundle
  - bundle exec rspec
  - gem build hellosign-ruby-sdk.gemspec
  - gem install ./hellosign-ruby-sdk-6.0.0-beta22.24.gem
